input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ccc;
  color: white;
  box-sizing: border-box;
  font-size: 18px;
  height: 50px;
  width: 200px;
}

input:focus {
  outline: none;
}

::placeholder {
  color: white;
  opacity: 1; /* Firefox */
}
.myGridDisplay {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  box-sizing: border-box;
  justify-content: center;
}
button {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  margin-left: 10px;
  background-color: rgb(255, 30, 66);
  color: white;
}
